body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 21px;
}

h3 {
    font-weight: 500;
    font-size: 12px;
}

.nav {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 35px;
}

.nav--logo-section {
    display: flex;
    gap: 7px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    font-family: 'Karla', sans-serif;
    display: flex;
    margin-top: 36px;
    flex-direction: column;
    width: 470px;
}

.form--container-inputs {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.form--input {
    width: 230px;
    height: 15px;
    padding: 10px;
    border: 1px solid rgba(213, 212, 216, 1);
    border-radius: 5px;
}

.form--button {
    padding: 10px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 26px;
}

.form--button:hover{
    cursor: pointer;
}

.meme {
    display: flex;
    justify-content: center;
    position: relative;
}

.meme--image {
    max-height: 650px;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.meme--list{
    width: 70%;
    text-align: center;
    padding: 30px 15px;
    margin: 46px 40px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border-radius: 5px;
    color: white;
}

.meme--list h1{
    margin-bottom: 30px;
    font-size: 30px;
}

.meme--list-elements {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.meme--list-elements img{
    max-height: 200px;
    border-radius: 5px;
    transition-duration: .5s;
}

.meme--list-elements img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 15px 60px 1px rgba(30, 30, 30, 0.75);
    margin: 10px;
    gap: 20px;
}