body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 21px;
}

h3 {
    font-weight: 500;
    font-size: 12px;
}

.nav {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 35px;
}

.nav--logo-section {
    display: flex;
    gap: 7px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    font-family: 'Karla', sans-serif;
    display: flex;
    margin-top: 36px;
    flex-direction: column;
    width: 470px;
}

.form--container-inputs {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.form--input {
    width: 230px;
    height: 15px;
    padding: 10px;
    border: 1px solid rgba(213, 212, 216, 1);
    border-radius: 5px;
}

.form--button {
    padding: 10px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 36px;
}

.meme--image{
    max-width: 50%;
}